<div class="card-content">
  <div class="card-content-img">
    <img class="img-responsive"
      ngSrc= "assets/cactus.jpg"
      alt="Image Card"
      aria-hidden="true"
      width="400"
      height="200"
      priority />
  </div>
  <div class="card-content-tag">
    <p>Design</p>
  </div>
  <div class="card-content-title">
    <h1>Embracing Minimalism</h1>
  </div>
  <div class="card-content-description">
    <p>
      From minimalist sculptures to minimalist paintings,
      this blog will inspire you to appreciate the beauty that lies in simplicity.
    </p>
  </div>
  <div class="card-content-separator">
  </div>
  <div class="card-content-autor">
    <p>Annie Spratt</p>
  </div>
</div>
